// @params product
// @params mediaHost

div
    style.
        * {
            margin: 0;
            padding: 0;
        }

        .data li {
            padding: 5px;
            margin: 5px 0;
            background-color: lightgray;
            list-style: none;
        }

        .data li span {
            margin-left: 5px;
        }
    header
        h1(style="font-size: 20px") #{product.title} is available now!!
    main
        article
            img(src=mediaHost + product.image, alt=product.title width="300" height="300")
            div #{product.description}
            div #{product.price.current}
