// @params method
// @params message
// @params url
// @params body
// @params cookies
// @params stack
// @params ip
// @params timestamp

div
	style.
		* {
			margin: 0;
			padding: 0;
		}

		.data li {
			padding: 5px;
			margin: 5px 0;
			background-color: lightgray;
			list-style: none;
		}

		.data li span {
			margin-left: 5px;
		}
	h1(style="font-size: 20px") Server error
	ul.data
		li.item
			b method:
			span #{method}
		li.item
			b message:
			span #{message}
		li
			b url:
			span #{url}
		if body
			li
				b body:
				pre #{body}
		if cookies
			li
				b cookies:
				pre #{cookies}
		li
			b stack:
			pre #{stack}
		li
			b ip:
			span #{ip}
		li
			b timestamp:
			span #{timestamp}
